################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################
Web.Test.config.secret

venv
.cache

/src/TestResults
/src/RunTestSuite.txt
/src/tools/BacpacDownloads
.vs
**/npm-debug.log:wwq:wq

*.bacpac

**/gulp.*.log
**/npm-debug.log
*.bacpac

Web.Test.config.secret
node_modules
.curl/

venv

obj/
bin/
venv

.idea/
